
.background{
background-image: url(image/bk-1.jpg);
font-family: 'Times New Roman', Times, serif;
height: 100vh;
color:black;
text-align: center;
}

.calculadora{
position: absolute;
background-color: black;
text-align: center;
font-size: 18px;
color: #FFF;
border: 30px;
padding: 10px;
border-radius: 20px;
top: 20%;
left: 40%;
background-position: center;
}

.button{
    cursor: pointer;
    background-color: #FFF;
    height: 60px;
    width: 60px;
    color:black;
    font-size: 25px;
    border: none;
}


.dfbutton{
    cursor: pointer;
    background-color: #a3fdff;
    height: 60px;
    width: 60px;
    color:black;
    font-size: 25px;
    border: none;
}

.button:hover{
    background-color: rgb(211, 209, 209);
}

.dfbutton:hover{
    background-color: rgb(169, 213, 213);
}



#result{
    font-family: 'Times New Roman', Times, serif;
    text-align: right;
    background-color: #FFF;
    color: black;
    margin: 6px;
    padding: 8px;
    border:10px;
}